html {
     font-family: 'Roboto', sans-serif; }
.page {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

.header {
    width: 100%;
    max-width: 1300px;
    flex-wrap: wrap;
    background-color:  #213B7E;
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.site-menu > li {
    display: flex;
     flex-wrap: wrap;
}

.menu-link:hover {
    background-color: #FFFFFF;
    color: #213B7E;
    text-decoration-line: none;
}
.menu-link {
    width: 100%;
    max-width: 1300px;
    flex-wrap: wrap;
display: flex;
align-items: center;
padding: 0 18px;
background-color: #213B7E;
color: #FFFFFF;
font-size: 20px;
text-decoration-line: underline;
}

.login-button {
    display: flex;
    justify-content: center;
    z-index: 2;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #EA5D21;
    max-width: 153px;
    width: 100%;
    min-height: 50px;
}
/* popup */
.login-popup {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 50px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    background-color: #FFFFFF;

}

.login-heading {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
   
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.login-form > input {
    width: 100%;
    max-width: 500px;
    min-height: 55px;
    margin-bottom: 56px;
    border: 1px solid #808080;
}

.login-input {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    border: 1px solid #808080;
    width: 444px;
    background-color: #FFFFFF;
    padding: 10px;
}

.login-password {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    border: 1px solid #808080;
    width: 444px;
    background-color: #FFFFFF;
    padding: 10px;
}

.popup-button {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 153px;
    min-height: 50px;
    color: #FFFFFF;
    justify-content: center;
    text-decoration: none;
    background: #EA6113;
    border: none;
}
.active-link {
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}
.show-popup {
    display: block;
}
/* content*/

.main {
    width: 100%;
    max-width: 911px;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-grow: 1;
}

.main-heading {
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.intro-text {
    width: 100%;
    max-width: 634px;
    flex-wrap: wrap;
    height: 127px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.foto {
    flex-wrap: wrap;
    width: 100%;
    max-width: 523px;
}
/* students*/
.students {
     max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.students-name {
    display: block;
    text-align: center;
    font-size: 20px;
}
.student {
    padding-left: 50px;
}
.map {
   height: auto;
width: 100%;
max-width: 1250px;

}
.contact {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-decoration: underline;
    line-height: 29px;
}
.adress {
font-weight: 400;
font-size: 18px;
line-height: 36px;
width: 100%;
text-decoration: underline;


}
/*footer*/

.footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;
    box-sizing: border-box;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
    background-color: #213B7E;
}
.copyright{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
em {
    color: #CF5510
}
